* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}

/*----------------------------------------------------------------*/

/*Inicio do header*/

/*alinha o header ao centro do site*/
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
/*Muda o tamanho da logo do header*/
.nav .logo img {
    width: 90px;
    margin-left: 15px;
}
/*organiza os links de navegação*/
.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
margin-right: 30px;
}
/*cor tamanho e fonte dos links de navegação*/
.nav ul li a{
    font-weight: 500;
    color: rgb(122, 30, 30);
    font-family: sans-serif;
    font-size: 30px;

}
/*Animação do traçado da pagina ativa nos links de navefação*/
.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: rgb(122, 30, 30);
    display: flex;
    position: relative;
    margin-left: 10px;
}
/*estilização do Botao de Login*/
.sign{
    margin-top: -15px;
    margin-right: 15px;
    border-radius: 100%;
    background-color: rgb(122, 30, 30);
    cursor: pointer;
    border: none;
}
/*Estilização da Imagem do botão de login*/
.sign img{
    width: 60px;
    filter: invert(1) brightness(2);
    padding: 10px;
}
/*Finaliza o Header*/

/*----------------------------------------------------------------*/