* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}

.Logo {
    width: 100px;
    margin-left: 50px;
    margin-top: 17px;
}

.links {
    margin-bottom: 30px;
    text-align: center;
    margin-top: -75px;
}

.menus {
    color: rgb(122, 30, 30);
    font-size: 40px;
    margin-left: 30px;
}

/* Centraliza o botão */
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: -90px;
}

/* Estilização do botão */
.button-with-image {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(122, 30, 30);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    color: white;
}



.button-with-image .login {
    width: 50px;
    filter: invert(1) brightness(2);
    /* Muda a imagem para branco */
}

/* Define o layout em linha e centraliza */
.container-row {
    display: flex;
    justify-content: center; /* Centraliza as imagens */
    align-items: center; /* Alinha verticalmente */
    margin-top: 200px;
}

/* Ajusta o estilo das imagens */
.container-pic .conteudo {
    width: 300px; /* Defina a largura desejada */
    border: 2px solid #000; /* Borda de 2px de cor preta */
    border-radius: 5px; /* Borda arredondada */
    padding: 5px; /* Espaçamento interno */
    margin-left: 100px;
}

.button{
    display: flex;
    justify-content: center;
margin-top: 200px;
}

